<div>
    <form method="post" class="found-form" autocomplete="off" action="#">
        <fieldset>
            <div class="inputBox" v-show="unameShow">
                <input type="text" id="uname" name="uname" placeholder="手机号" v-model="uname" @keyup="uname.length > 0 ? unameClear = true : unameClear = false" />
                <!--清空输入框组件-->
                <template v-if="unameClear">
                    <clearinput :show-clear.sync="unameClear" :input-text.sync="uname"  :right-dis=6></clearinput>
                </template>
            </div>
            <div class="inputBox" v-show="vcodeShow">
                <input type="text" id="vcode" name="vcode" placeholder="请输入手机验证码"  v-model="vcode" />
                <div class="vcode_first" v-show="vcodeGet"><span>{{ countdown }}</span>秒后重试</div>
                <div class="vcode_again" v-show="!vcodeGet" @click="regetVerify">重新获取</div>
            </div>
            <div class="inputBox" v-show="pwdShow">
                <input :type="eye ? 'password':'text' " id="password" name="password" placeholder="请设置新密码"  v-model="password" @keyup="password.length > 0 ? pwdClear = true : pwdClear = false" />
                <span class="eye" @click="eye = !eye" :class="eye ? 'eye1':'eye2' "></span>
                <!--清空输入框组件-->
                <template v-if="pwdClear">
                    <clearinput :show-clear.sync="pwdClear" :input-text.sync="password" :right-dis=40></clearinput>
                </template>
            </div>
            <div class="inputBox" v-show="pwdShow">
                <input :type="eye ? 'password':'text' " id="pwd_confirm" name="pwd_confirm" placeholder="请确认新密码"  v-model="psw_confirm" @keyup="psw_confirm.length > 0 ? pwd2Clear = true : pwd2Clear = false" />
                <span class="eye" @click="eye = !eye" :class="eye ? 'eye1':'eye2' "></span>
                <!--清空输入框组件-->
                <template v-if="pwd2Clear">
                    <clearinput :show-clear.sync="pwd2Clear" :input-text.sync="psw_confirm"  :right-dis=40></clearinput>
                </template>
            </div>
            <div class="both"></div>
        </fieldset>
    </form>
    <div class="dgsc-ft marg">
        <a @click="found_next" href="javascript:;" class="c-btn-blue"><span>下一步</span></a>
    </div>
</div>

<!--消息提示框组件-->
<template v-if="found_tips">
    <pop pop-type="text" :pop-text="showText"></pop>
</template>
