*{margin:0; padding:0; }
.single-img-container{width:100%; height:100%; }
.single-img-container .img_item{width:100%; height:100%; }
.single-img-container .img_item a{display:block; width:100%; height:100%; }
.single-img-container .img_item a img{display:block; width:100%; height:100%; }