

*{padding: 0;margin: 0;}
ul,li{list-style: none;}
.tab-content-container{width:1000px; margin:0 auto; position:relative;-webkit-overflow-scrolling: touch;}
.xs-area{position:absolute; left:0; top:0; width: 1000px; height: auto; margin: 0 auto;}
.xs-area.show{display: block;}
.xs-item{width: 968px;  overflow: hidden; height: 296px; padding: 17px 16px 20px 16px; margin: 0 auto 20px auto; background-color: #fff; box-shadow: 0px 2px 2px #ccc,0px 0px 1px #ccc;}
.item-pic{display: inline-block;float:left;width: 445px; height: 296px;margin-right: 25px; position: relative;}
.item-pic img{width: 445px;height: 296px;}
.item-pic-tag{position: absolute; left: -5px; top: -5px; width: 77px;height: 77px;}
.item-pic .bsc{background: url(../../assets/bsc.png) center center no-repeat;}
.item-pic .xhc{background: url(../../assets/xhc.png) center center no-repeat;}
.item-cont{display: inline-block; float: left;width: 498px;}
.item-cont h2{font-size: 18px;font-family: "宋体";font-weight: 600;line-height: 30px; height: 30px; overflow: hidden;margin-top: 18px;}
.item-cont-ul{margin-top: 10px; padding-left: 16px;}
.item-cont-ul li{list-style: disc url(../../assets/point.png);font-size: 14px;line-height: 20px;color: #707070;}
.item-price{margin-top: 22px;}
.price-now{color: #76c1bc;font-size: 48px;font-weight: 600;}
.price-now em{font-style: normal;font-size: 30px;vertical-align: text-top;line-height: 40px;}
.price-old{margin-left: 20px;font-size: 18px;color: #959595;text-decoration: line-through;}
.item-by{display: inline-block;width: 37px;height: 31px;margin-left: 12px;vertical-align: top;background: url(../../assets/baoyou.png) top center no-repeat;}
.item-buy{margin-top: 38px;}
.item-buy .buy{display: inline-block;width: 110px;height: 35px;background-color: #FABE00;color: #fff;text-align: center;line-height: 35px;font-size: 18px;text-decoration: none;margin-right: 15px; transition: background 0.1s ease;}
.item-buy .buy:hover{background: #ffcb25;}
.item-buy .num{font-size: 14px; color: #313131;}
.item-buy .num em{font-style: normal;color: #76c1bc;margin: 0 3px;}
.item-time{margin-top: 24px;background: url(../../assets/time.png) left center no-repeat;text-indent: 24px;font-size: 16px;line-height: 30px;color: #1b1b1b;}
.tab-bar-container{width:418px; margin:40px auto; border-radius: 40px; border:1px solid #c8c8c8; overflow: hidden;}
.tab-bar-container .tab-item{width:50%; float:left;  cursor:pointer;}
.tab-bar-container .tab-item p{line-height: 36px; margin:5px; text-align: center;  border-radius: 20px; font-size:22px; font-family: 'Microsoft YaHei';  position: relative;}
.tab-bar-container .tab-item.active p{ background: #76c1bc; color:#fff;}
.nuderline-num{position: absolute; top:0; right:39px; width:20px; height:20px; line-height: 20px; font-size: 14px; background:#fabe00; color:#fff; border-radius:10px; text-align: center;}
.loading{text-align: center;}