.w32-area{
    width: 6.4rem;
    overflow: hidden;
    border: 1px solid #ccc;
    box-sizing:border-box;
}
.w32-sec{
    display: flex;
    margin: 0 auto;
}
.w32-pic-l{
    float: left;
}
.w32-pic-r{
    float: right;
}
.w32-area img{
    width: 100%;
    height: 100%;
}